{% load static %}
{% url 'account:signup' as path_to_signup %}
{% url 'account:login' as path_to_login %}
{% url 'account:logout' as logout %}
{% url 'account:profile' as path_to_my_profile %}
{% url 'crm:cp-create' as path_to_create_company %}
{% url 'crm:dv-create' as path_to_create_division %}
{% url 'crm:ps-create' as path_to_create_post %}
{% url 'crm:ep-create' as path_to_create_employer %}
{% url 'crm:cp-list' as path_to_list_company %}
{% url 'crm:ps-list' as path_to_list_post %}
{% url 'crm:ep-list' as path_to_list_employer %}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img src="{% static 'logo.png' %}" class="logo-sm"></a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if not request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == path_to_signup %}active{% endif %}"
                       href="{{path_to_signup}}">Signup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == path_to_login %}active{% endif %}"
                       href="{{path_to_login}}">Login</a>
                </li>
                {% else %}
                <div class="nav-item dropdown">
                    <div class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                         data-bs-toggle="dropdown"
                         aria-expanded="false">
                        {{request.user}}
                    </div>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item {% if request.path == path_to_my_profile %}active{% endif %}"
                               href="{{path_to_my_profile}}">Profile</a></li>
                        <li><a class="dropdown-item" href="{{ logout }}">Logout</a></li>
                    </ul>
                </div>
                {% if request.user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == path_to_create_company %}active{% endif %}"
                       href="{{path_to_create_company}}">Create Company</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == path_to_create_division %}active{% endif %}"
                       href="{{path_to_create_division}}">Create Division</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == path_to_create_post %}active{% endif %}"
                       href="{{path_to_create_post}}">Create Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == path_to_create_employer %}active{% endif %}"
                       href="{{path_to_create_employer}}">Create Employer</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == path_to_list_company %}active{% endif %}"
                       href="{{path_to_list_company}}">List Company</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == path_to_list_post %}active{% endif %}"
                       href="{{path_to_list_post}}">List Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == path_to_list_employer %}active{% endif %}"
                       href="{{path_to_list_employer}}">List Employer</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>